<h1>
	<a href="/">Foogle</a>
</h1>

<!-- Recipe search form -->
<form action="/search" method="get">
	<input type="text" name="searchQuery" placeholder="Search..." required>
	<button type="submit">Search</button>
</form>
<br>

<!-- Login/register links -->
<% if (session.loggedIn) { %>
	<a href="/account">My Recipes</a> | <a href="/logout">Log Out</a>
<% } else { %>
	<a href="/login">Log In</a> | <a href="/register">Register</a>
<% } %>
<br>