<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Foogle</title>
	<link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
	<div class="main-container">
		<%- include('partials/navigation') %>
		<p>You search for recipes. We adapt them to your diet.</p>
	</div>
</body>
</html>